apiVersion: batch/v1
kind: Job
metadata:
  name: rails-migrate-seed
  namespace: todo-platform
spec:
  backoffLimit: 3
  template:
    spec:
      restartPolicy: OnFailure
      containers:
        - name: rails-migrate-seed
          image: todo-platform-backend:v1
          imagePullPolicy: IfNotPresent
          env:
            - name: RAILS_ENV
              value: development
            - name: POSTGRES_HOST
              value: postgres
            - name: POSTGRES_PORT
              value: '5432'
            - name: POSTGRES_USER
              value: postgres
            - name: POSTGRES_PASSWORD
              value: password
          command: ['bundle', 'exec', 'rails', 'db:prepare', 'db:seed']
